.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #D3D3D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 20px rgba(10, 10, 10, 0.5); 
}

.logo img { 
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}
