body {
    font-family: 'Outfit', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    height: 100%;
}
 
header {
    background-color: #d3d3d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
 
}
 
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
 
.logo img {
    display: flex;
    align-items: center;
      height: auto;
        width: 110px;
}
 
.nav-list {
    display: flex;
    align-items: center;
}
 
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
 
.nav-item {
    margin: 0 15px;
}
 
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: bolder;
}
 
.mobile-menu-icon {
    display: none;
}
 
.mobile-menu {
    display: none;
}
 
 
.container {
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(73, 73, 73, 0.5);
    text-align: left;
    margin: 20px auto 30px;
}
 
h1 {
    color: #000;
    font-size: 25px;
    margin-bottom: 10px;
}
 
h2 {
    color: #000;
    font-size: 23px;
    margin-bottom: 5px;
}
 
.rm-number {
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 20px;
}
 
.details {
    font-size: 16px;
    margin-bottom: 20px;
}
 
.link-btn {
    text-decoration: none;
}
 

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 
.btn-voltar {
    padding: 8px 20px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
 
.btn-voltar:hover {
    background-color: #f0f0f0;
}
 
.card {
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(73, 73, 73, 0.5);
    text-align: left;
    margin: 30px auto;
}
 
.descricao {
    color: #939393;
}
 
.descricao1 {
    color: #939393;
}
 
.thaila {
    margin-top: 20px;
}
 
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
    }
    .open {
        display: block;
    }
    .nav-list{
        display:none;
    }
}