body {
    font-family: 'Outfit', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
 
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: #d3d3d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo img {
    display: flex;
    align-items: center;
      height: auto;
        width: 110px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: bolder;
}
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
 
h1{
    width: 90%;
    margin-left: 9.1%;
    margin-top: 60px;
    margin-bottom: 3%;
    font-size: 35px;
}
 
.card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    width: 80vw;
    padding: 15px;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #000000;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
 
.card img {
    width: 100%;
    border-radius: 10px;
}
 
.card p {
    margin: 0;
    align-self: flex-start;
    margin-left: 25px;
}
 
.card a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-left: 0;
}
 