@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
   padding: 0;
   margin: 0;
   font-family: 'Outfit', sans-serif;
}
header {
   background-color: #d3d3d3;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.nav-bar {
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 6rem;
}
.logo img {
   display: flex;
   align-items: center;
   height: auto;
   width: 110px;
}
.nav-list {
   display: flex;
   align-items: center;
}
.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}
.nav-item {
   margin: 0 15px;
}
.nav-link {
   text-decoration: none;
   font-size: 1.15rem;
   color: #000000; 
   font-weight: bolder;
}
.nav-link:hover {
   color: #555555; 
}
.mobile-menu-icon {
   display: none;
}
.mobile-menu {
   display: none;
}
h1 {
   width: 90%;
   margin-left: 9.1%;
   margin-top: 60px;
   margin-bottom: 3%;
   font-size: 35px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    width: 80vw;
    margin-top:50px ;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 0.9rem;

  }
.card img {
   width: 100%;
   border-radius: 10px;
}
.card p {
   margin: 0;
   align-self: flex-start;
   margin-left: 25px;
  
}
.card.vermelho {
   background-color: rgba(254, 0, 0, 0.5);
}


.card a {
   color: #000000;
   text-decoration: none;
}
.card a:hover {
   color: #555555;
}
@media screen and (max-width: 730px) {
   .nav-bar {
       padding: 1.5rem 4rem;
   }
   .nav-item {
       display: block;
       padding-top: 1.2rem;
   }
   .mobile-menu-icon {
       display: block;
   }
   .mobile-menu-icon button {
       background-color: transparent;
       border: none;
       cursor: pointer;
   }
   .mobile-menu ul {
       display: flex;
       flex-direction: column;
       text-align: center;
       padding-bottom: 1rem;
   }
   .mobile-menu .nav-item {
       display: block;
   }
   .open {
       display: block;
   }
   .nav-list {
       display: none;
   }
}
