.container-ocorrencia {
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(76, 240, 0, 0.452);
    text-align: left;
    margin: 30px auto;
    background-color: #fff; 
}

.card-ocorrencia {
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(76, 240, 0, 0.452);
    text-align: left;
    margin: 30px auto;
    background-color: #fff;
}

.container-ocorrencia h1 {
    color: #000;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.ocorrencia-container h2 {
    color: #000;
    font-size: 23px;
    margin-bottom: 5px;
}

.rm-number-ocorrencia {
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 20px;
}

.details-ocorrencia {
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: vertical; 
}

#ocorrenciaForm {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.btn-voltar-ocorrencia {
    padding: 8px 20px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-voltar-ocorrencia:hover {
    background-color: #f0f0f0;
}

.descricao1-ocorrencia {
    color: #939393; 
}

.descricao2-ocorrencia {
    color: #939393; 
}
