.ocorrencia-container, .resolucao-container {
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(247, 230, 3, 0.7);
    text-align: left;
    margin: 30px auto 20px;
}

.historico-form {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.button-container {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.ocorrencia-container h1 {
    color: #000;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.ocorrencia-container h2 {
    color: #000;
    font-size: 23px;
}

.rm-number {
    color: #a0a0a0;
    font-size: 14px;
}

.details {
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: vertical; 
}

.btn-voltar {
    padding: 8px 20px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #f0f0f0;
}

.descricao2 {
    color: #939393;
}
