body {
  height: 100vh; 
  margin: 0;
  overflow: hidden; 
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(rgb(0, 0, 0), #fafafa 420%);
}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.card {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 90%;
  border: 1px solid #808080d8;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #D9D9D9;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.login-form button {
  background-color: #d3d3d3;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  body {
      background: linear-gradient(#000000, #fafafa 250%);
  }

  .card {
      width: 80vw; /* Reduzido em telas menores */
      padding: 10px;
  }
}