.header{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color:#ffffff;
    font-weight: 700;
}
